---
const { title, description, place, date, image } = Astro.props;
---

<article
  class="bg-white shadow-lg rounded-lg overflow-hidden hover:shadow-xl transition-shadow duration-300 w-full lg:max-w-[330px]">
  <div class="relative">
    <img class="w-full h-64 object-cover" src={image} alt="Imagen del evento" />
    <div
      class="absolute top-0 right-0 bg-primary/70 text-background font-bold py-2 px-4 rounded-bl">
      {date}
    </div>
  </div>
  <div class="p-6">
    <h3 class="text-xl font-semibold mb-2">{title}</h3>
    <p class="text-content/80 mb-4">{description}</p>
    <div class="flex items-center mb-4">
      <svg
        class="w-7 h-7 mr-2 text-primary/80"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
        ></path>
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
      </svg>
      <p class="text-accent">{place}</p>
    </div>
    <a
      href={title}
      class="text-primary rounded-lg border-primary border px-4 py-2 tracking-widest w-full block text-center">
      COMPRAR
    </a>
  </div>
</article>
